<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  <title>Login</title>
  
  <%- include('./partials/head'); %>

  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <style>
    .carda {
      border:none;
      padding: 10px 50px;
    }
    .carda::after {
      position: absolute;
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .carda:hover {
      transform: scale(1.02, 1.02);
      -webkit-transform: scale(1.02, 1.02);
      backface-visibility: hidden; 
      will-change: transform;
      box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
    }
    .carda:hover::after {
      opacity: 1;
    }
    .carda:hover .btn-outline-primary{
      color:white;
      background:#007bff;
    }
  </style>

<script>

</script>
  
  </head>
<body class="container-fluid">

<header>
  <%- include('./partials/header'); %>
  
</header>

<div class="container-fluid">
  
  
<div class="div row">
  <div class="col-lg-8 card">
    <div class="row">
      <div class="col">
        <h3 class="pb-4 mb-4 fst-italic border-bottom mt-4">
          <%=post.title%>
        </h3>
      </div>
      <div class="col-lg-6 text-end d-flex justify-content-end align-items-center">
        <span class="badge rounded-pill text-bg-secondary" style="margin-right: 50px;"><%=post.type%></span>
      </div>
          
   </div>



    <article class="blog-post">
      <h2 class="blog-post-title mb-1"></h2>
      <%
  const date = new Date(post.postedAt);
  const now = new Date();

  const timeDiffMs = now - date;
  const timeDiffMinutes = Math.round(timeDiffMs / 1000 / 60);

  let timeAgo;

  if (timeDiffMinutes < 60) {
    timeAgo = `${timeDiffMinutes} ${timeDiffMinutes === 1 ? 'minute' : 'minutes'} ago`;
  } else if (timeDiffMinutes < 24 * 60) {
    const timeDiffHours = Math.round(timeDiffMinutes / 60);
    timeAgo = `${timeDiffHours} ${timeDiffHours === 1 ? 'hour' : 'hours'} ago`;
  } else {
    const timeDiffDays = Math.round(timeDiffMinutes / 60 / 24);
    timeAgo = `${timeDiffDays} ${timeDiffDays === 1 ? 'day' : 'days'} ago`;
  }
%>
      <p class="blog-post-meta"><%=timeAgo%> </p>
      <div class="mt-2">
        <img src="/uploads/blogimages/<%=post.image1%>"  alt="" style="max-width: 95%;">
      </div>

      <div class="mt-2">
        <b class=""> By <%=authorName%></b>

      </div>

      <div>
        <p class="mt-4"><%=post.description%></p>
      </div>

    

  </div>
  <div class="col-lg-1"></div>

  <div class="card col-lg-3">
<!-- Featured Posts -->
<h3 class="mt-4">Featured Posts</h3>
<div class="row">
  <div class="col-lg-12 featured-post">
    <% for (var i = 0; i < 3; i++) { %>
      <div class="card mt-3">
        <img class="card-img-top " src="/uploads/blogimages/<%=posts[i].image1%>" alt="Featured Post 1 Image">
        <div class="card-body">
          <a href="/posts/viewnewspost/<%= posts[i]._id%>"><h5 class="card-title"><%=posts[i].title.substring(0,30)%></h5>
          </a>
          <p class="card-text mt-1"><%=posts[i].description.substring(0,70) + "..."%></p>
        </div>
      </div>
    <% } %>

  </div>
</div>
</div>
  </div>
</div>


</div>


<footer>
</footer>

</body>
</html>