<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  <title>Login</title>
  
  <%- include('./partials/head'); %>

  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
 


  
  </head>
<body class="container-fluid">

<header>
  <%- include('./partials/header'); %>
  
</header>

<main class="container-fluid">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Israel says 1,300 of its citizens have died since Hamas carried out attacks</h1>
      <p class="lead my-3">The total figure is 120 more deaths than the ministry reported on Thursday afternoon. The number of fatalities in Gaza is expected to rise further as Israel's siege of the territory has left.</p>
      <p class="lead mb-0"><a href="<%= process.env.BASE_URL %>/news/post7" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">War in Israel</strong>
          <h3 class="mb-0">Hamas' attacks on Israel also aimed at Palestinian Authority</h3>
          <div class="mb-1 text-muted">Sep 5</div>
          <p class="card-text mb-auto">Hamas fires rockets at Israel in response to the violence in Jerusalem, while Palestinian President Mahmoud Abbas seems relegated.</p>
          <a href="<%= process.env.BASE_URL %>/news/post6" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/images/news5.png" width="200px" height="250px" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">War in Israel</strong>
          <h3 class="mb-0">News of the attack quickly spread on social media</h3>
          <div class="mb-1 text-muted">Sep 3</div>
          <p class="card-text mb-auto">U.S. recognizes as a terrorist organization, launched a surprise attack from Gaza over the weekend, killing more than 900 people in Israel.</p>
          <a href="<%= process.env.BASE_URL %>/news/post8" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/images/news7.png" width="200px" height="250px" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">War in Israel</strong>
          <h3 class="mb-0">Israel says 1,300 of its citizens have died since Hamas carried out attacks</h3>
          <div class="mb-1 text-muted">Sep 11</div>
          <p class="card-text mb-auto">The total figure is 120 more deaths than the ministry reported.</p>
          <a href="<%= process.env.BASE_URL %>/news/post7" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/images/news8.png" width="200px" height="250px" alt="">
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">War in Israel</strong>
          <h3 class="mb-0">There are days of war ahead</h3>
          <div class="mb-1 text-muted">Sep 1</div>
          <p class="card-text mb-auto">The Hamas operation started just before 7am in Israel and came without any warning..</p>
          <a href="<%= process.env.BASE_URL %>/news/post5" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/images/news6.png" width="200px" height="250px" alt="">
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">War in Israel</strong>
          <h3 class="mb-0">World reacts to Hamas attack on Israel</h3>
          <div class="mb-1 text-muted">Oct 26</div>
          <p class="card-text mb-auto">There is never any justification for terrorism. We stand in solidarity with the government and people of Israel.</p>
          <a href="<%= process.env.BASE_URL %>/news/post1" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/images/news4.jpg" width="200px" height="250px" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">War in Israel</strong>
          <h3 class="mb-0">Why did Hamas launch a surprise attack on Israel?</h3>
          <div class="mb-1 text-muted">Oct 29</div>
          <p class="card-text mb-auto">the Israeli Defence Forces (IDF) said Gaza, the tiny Palestinian enclave on the Mediterranean coast that has been under Israeli.</p>
          <a href="<%= process.env.BASE_URL %>/news/post2" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/images/news2.jpeg" width="200px" height="250px" alt="">
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">War in Israel</strong>
          <h3 class="mb-0">Attack on Israel is calculated and ruthless — and that’s Hamas</h3>
          <div class="mb-1 text-muted">Sep 1</div>
          <p class="card-text mb-auto">The biggest surprise in Hamas’s massive attack on Israel is that it was a surprise. The operation was of unprecedented scale.</p>
          <a href="<%= process.env.BASE_URL %>/news/post3" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/images/news1.jpg" width="200px" height="250px" alt="">
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">War in Israel</strong>
          <h3 class="mb-0">Unprecedented Hamas attack on Israel has caused crisis</h3>
          <div class="mb-1 text-muted">Sep 1</div>
          <p class="card-text mb-auto">This isn't the usual round of violence - it's far more serious than that. Hamas must have had significant assistance within Israel.</p>
          <a href="<%= process.env.BASE_URL %>/news/post4" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/images/news3.jpg" width="200px" height="250px" alt="">
        </div>
      </div>
    </div>

   
  </div>



</main>



<footer>
</footer>

</body>
</html>